{% extends "base.html" %}
{% load get_element%}

{% block head %}
<title> Profile </title>
{% endblock head%}

{% block content %}
<div class="profile_container" id="style_middle">
<div class="profile_bar">
    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        <input type="hidden" name="show_orders" value="True">
        <button class="profile_bar_button" type="submit">Orders</button>
    </form>
    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        <input type="hidden" name="show_canceled_orders" value="True">
        <button class="profile_bar_button"  type="submit">Finished orders</button>
    </form>
    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        <input type="hidden" name="show_cart" value="True">
        <button class="profile_bar_button"  type="submit">My cart</button>
    </form>
    <form method="post" action="{% url 'edit_profile' %}">
        {% csrf_token %}
        <button class="profile_bar_button"  type="submit">Edit profile</button>
    </form>
</div>
<div class="list_box_container" id="style-middle">
{% if show == 1 %}
{% if empty is not True %}
    <div>
        <h1 class="basic_header">My cart</h1>
        <p class="basic_header_larger">Total price: {{ total_price }}$</p>
        <div class="cart">
            {% for instrument in user_cart %}
            {% with cart=cart_info|get_element:forloop.counter0 %}
            <form class="list_form" method="post" action="{% url 'delete_from_cart' cart.id %}">
            {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <p class="simple_text">NAME: {{ instrument.name }}</p><br>
                <div class="small_icon">
                <img class="image" src="{{ instrument.image.url }}"/>
                </div>
                <p class="simple_text">PRICE: {{ instrument.price }}$</p>
                <label class="simple_text" for="descr3">DESCRIPTION:</label>
                <p class="description" id="descr3">{{ instrument.description }}</p>
                <button class="small_button" type="submit">Delete</button>
            </form>
            {% endwith %}
            {% endfor %}
            <form class="form" method="post" action="{% url 'test_card' %}">
            {% csrf_token %}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button class="button button-block" type="submit">Order</button>
            </form>
        </div><br><br>
    </div>
{% else %}
<p class="basic_header">Cart is empty! </p>
{% endif %}
{% endif%}

{% if show == 2%}
{% if orders %}
    {% for full_order in orders %}
    <div>
        <form class="list_form" method="post" action="{% url 'cancel_order' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="hidden" name="order_id" value="{{ full_order.order.id }}">
            {% for instrument in full_order.instruments %}
            <div>
                <h3 class="simple_text">NAME: {{ instrument.id_instrument.name }}</h3><br>
                <div class="small_icon">
                    <img class="image" src="{{ instrument.id_instrument.image.url }}"/>
                </div>
                <p class="simple_text">PRICE: {{ instrument.id_instrument.price }}$</p>
                <label class="simple_text" for="descr">DESCRIPTION:</label>
                <p class="description" id="descr">{{ instrument.id_instrument.description }}</p>
            </div>
            <div class="sep"></div>
            {% endfor %}
            <p class="simple_text">DATE: {{ full_order.order.date }}</p>
            <button class="small_button" type="submit">CANCEL</button>
        </form><br><br>
    </div>
    {% endfor %}
{% else %}
    <p class="basic_header"> No active orders </p>
{% endif%}
{% endif %}

{% if show == 3%}
{% if canceled_orders %}
<div>
    {% for full_order in canceled_orders %}
    <div class="list_form">
        {% for instrument in full_order.instruments %}
        <div>
            <h3 class="simple_text">NAME: {{ instrument.id_instrument.name }}</h3><br>
            <div class="small_icon">
                <img class="image" src="{{ instrument.id_instrument.image.url }}"/>
            </div>
            <p class="simple_text">PRICE: {{ instrument.id_instrument.price }}$</p>
            <label class="simple_text" for="descr2">DESCRIPTION:</label>
            <p class="description" id="descr2">{{ instrument.id_instrument.description }}</p>
        </div>
        <div class="sep"></div>
        {% endfor %}
            <p class="simple_text">DATE: {{ full_order.order.date }}</p>
        {% if full_order.order.is_canceled %}
            <p class="simple_text">Canceled</p>
        {% else %}
            <p class="simple_text">Finished</p>
        {% endif %}
    </div><br><br>
    {% endfor %}
{% else %}
    <p class="basic_header"> No finished orders </p>
</div>
{% endif %}
{% endif %}
</div>
</div>
{% endblock%}