<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    {% endblock head%}
</head>
<body>
    <p>Base template</p>
    <div>
        <ul>
            {% if user.is_authenticated%}
                <li> {{ user.get_username }} </li>
                <li><a href="{% url 'profile' %}">PROFILE</a></li>
                <li> <a href="{% url 'logout' %}?next={{ request.path }}">LOGOUT</a></li>
            {% else %}
                <li> <a href="{% url 'login' %}?next={{ request.path }}">LOGIN</a></li>
            {% endif %}
        </ul>
    </div>
{% block content %}
{% endblock%}
</body>
<footer>

</footer>
</html>