<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block head %}
    {% endblock head%}
</head>
<body>
<nav class="top-menu">
    <ul class="menu-main">
        {% if user.is_authenticated %}
        <li> <a>{{ user.get_username }}</a> </li>
        <li><a href="{% url 'profile' %}">PROFILE</a></li>
        <li><a href="{% url 'logout' %}?next={{ request.path }}">LOGOUT</a></li>
        {% else %}
        <li> <a href="{% url 'login' %}?next={{ request.path }}">LOGIN</a></li>
        {% endif %}
        {% if user.is_superuser %}
        <li> <a href="{% url 'admin:index' %}">ADMIN</a></li>
        {% endif %}
        <li><a href="{% url 'catalog' %}">CATALOG</a></li>
    </ul>
</nav>
{% block content %}
{% endblock%}
</body>
<footer>
</footer>
</html>