{% extends "base.html" %}

{% block head %}
<title> LOGIN </title>
{% endblock head%}

{% block content %}

{% if form.errors %}
  <p class="error_message">Your username and password didn't match. Please try again.</p>
{% endif %}

<h1>Welcome Back!</h1>
<form class="form" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="tab-content">
    <div class="field-wrap">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div class="field-wrap">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>
  </div>
  <p class="forgot"><a href="{% url 'password_reset' %}">Lost password?</a></p>
  <p class="forgot"><a href="{% url 'registration' %}">Don't have account yet?</a></p>

  <input type="hidden" name="next" value="{{ next }}" />
  <button type="submit" class="button button-block">Log In</button>
<!--  <table>-->
<!--    <tr>-->
<!--      <td>{{ form.username.label_tag }}</td>-->
<!--      <td>{{ form.username }}</td>-->
<!--    </tr>-->

<!--    <tr>-->
<!--      <td>{{ form.password.label_tag }}</td>-->
<!--      <td>{{ form.password }}</td>-->
<!--    </tr>-->
<!--  </table>-->
</form>
{% endblock %}