{% extends "base.html" %}

{% block head %}
<title> LOGIN </title>
{% endblock head%}

{% block content %}

{% if form.errors %}
  <br><p class="error_message">Your username and password didn't match or you haven't confirmed your email.
    Please try again.</p>
{% endif %}

<h1>Welcome Back!</h1>
<form class="form" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="tab-content">
    <div class="field-wrap">
      <p class="label_">Username</p>
      {{ form.username }}
    </div>
    <div class="field-wrap">
      <p class="label_">Password</p>
      {{ form.password }}
    </div>
  </div>
  <p class="forgot"><a class="a_style" href="{% url 'password_reset' %}">Lost password?</a></p>
  <p class="forgot"><a class="a_style" href="{% url 'registration' %}">Don't have account yet?</a></p>

  <input type="hidden" name="next" value="{{ next }}" />
  <button type="submit" class="button button-block">Log In</button>
</form>
{% endblock %}