{% extends "base.html" %}

{% block head %}
<title> Regiastration </title>
{% endblock head%}

{% block content %}
{% if error_message %}
    <p> {{ error_message }} </p>
{% endif %}
<form action="{% url 'registration_submit' %}" method="post" name="registration_form">
    <p><b>Enter data</b><br>
        {% csrf_token %}
        <input type="text" name="{{keys.USERNAME}}" required size="45" placeholder="Login">
        <input type="text" name="{{keys.FIRST_NAME}}" required size="45" placeholder="First name">
        <input type="text" name="{{keys.LAST_NAME}}" required size="45" placeholder="Last name">
        <input type="text" name="{{keys.PHONE}}" required size="20" placeholder="Phone">
        <input type="text" name="{{keys.EMAIL}}" placeholder="E-mail" required size="30">
        <input type="password" name="{{keys.PASSWORD}}" required placeholder="Password" size="40">
        <input type="password" name="{{keys.CONF_PASSWORD}}" required placeholder="Confirm password" size="40"><br><p>
        <input class="button" type="submit" value="Create">
    </p>
</form>
{% endblock%}